---
- name: Install nginx on app host
  hosts: app
  become: yes

  tasks:
    - name: Ensure apt cache is up to date
      apt:
        update_cache: yes

    - name: Ensure nginx is installed
      apt:
        name: nginx
        state: present
